kestra/extract_identifier.yaml
id: extract_identifier 
namespace: national-gallery-art-analytics
description: |
  The CSV Data used: https://github.com/NationalGalleryOfArt/opendata/tree/82c1a501a7036a22c443bdd35c28d0569476eb6d/data 

inputs:
  - id: identifier
    type: SELECT
    displayName: Select the type of data
    values: [objects, constituents, locations]
    defaults: objects


variables:
  file: "{{inputs.identifier}}.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.{{inputs.identifier}}"
  data: "{{outputs.extract.outputFiles[inputs.identifier ~ '.csv']}}"

tasks:
- id: set_label
  type: io.kestra.plugin.core.execution.Labels
  labels:
    file: "{{render(vars.file)}}"
    categorization: "{{inputs.identifier}}"

- id: extract
  type: io.kestra.plugin.scripts.shell.Commands
  outputFiles:
    - "*.csv"
  taskRunner:
    type: io.kestra.plugin.core.runner.Process
  commands:
    - wget https://raw.githubusercontent.com/NationalGalleryOfArt/opendata/82c1a501a7036a22c443bdd35c28d0569476eb6d/data/{{render(vars.file)}}
- id: upload_to_gcs
  type: io.kestra.plugin.gcp.gcs.Upload
  from: "{{render(vars.data)}}"
  to: "{{render(vars.gcs_file)}}"

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"